@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #242122;
    
}

.btn{
    background-color: #6C63FF;
    border: none;
    padding: 0.5rem;
    border-radius: 3rem;
}


.container .fa-biking{
    color: #6C63FF;
    letter-spacing: 0.6rem;
}


.navbar-brand span{
    font-size: 1.4rem;
    font-family: 'Original Surfer', cursive;
}

.container .img{
    height: 30rem;
    width: 40rem;
}

.fa-play-circle:hover{
    color: whitesmoke;
}

.header .btn-dwn{
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
}